@page "/"
    <!-- Resume Section Start -->
    <div id="resume" class="section-padding">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="education wow fadeInRight" data-wow-delay="0.3s">
              <ul class="timeline">
                <li>
                  <i class="icon-graduation"></i>
                  <h2 class="timelin-title">Education</h2>
                </li>
                <li>
                  <div class="content-text">
                    <h3 class="line-title">PG Diploma(IT) - Symbiosis Universty, Pune</h3>
                    <span>2006 - 2009</span>
                    <p class="line-text">P.G Diploma in Information Technology. From Symbiosis International University.</p>
                  </div>
                </li>
                <li>
                  <div class="content-text">
                    <h3 class="line-title">Bachelor- MLSU</h3>
                    <span>2002 - 2005</span>
                    <p class="line-text">Mohanlal Sukhadia University , Udaipur(Raj)</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="experience wow fadeInRight" data-wow-delay="0.6s">
              <ul class="timeline">
                <li>
                  <i class="icon-briefcase"></i>
                  <h2 class="timelin-title">Experience</h2>
                </li>
                <li>
                  <div class="content-text">
                    <h3 class="line-title">Lead Engineer - NTT Data Services.</h3>
                    <span>Sep 2024- Present</span>
                    <p class="line-text">Leading team of developers and testers in developing fullstack applications. Design and development of distributed services based on microservices architecture.</p>
                  </div>
                </li>
                <li>
                  <div class="content-text">
                    <h3 class="line-title">Software Technologist - Philips India.</h3>
                    <span>Jun 2022- Sep 2024</span>
                    <p class="line-text">Developing software services and library used in medical imaging systems.
                        Leading team of 5 in code reviews, mentorship and overall planning.
                        assist Lead architect in requirement gathering , analysis ,technical documentation and task assignment and overall development process</p>
                  </div>
                </li>
                <li>
                  <div class="content-text">
                    <h3 class="line-title">Project Leader - OpenDestinations Infotech.</h3>
                    <span>Aug 2009 - May 2022</span>
                    <p class="line-text">As a Project Lead in a dynamic product company specializing in travel technology, I played a pivotal role in shaping and delivering innovative solutions for both B2C and B2B clients. 
                      Responsibilities encompass a broad spectrum of project lead activities, with a particular focus on the  travel tech domain.
                      Requirement gathering, project planning and execution, client collaboration, Team leadership and development.</p>
                  </div>
                </li>
                <li>
                  <div class="content-text">
                    <h3 class="line-title">Developer - Niche Technologies</h3>
                    <span>Nov 2016 - Dec 2017</span>
                    <p class="line-text">worked as developer on sevral projects including IVR application.	E-commerce application showcasing various products of travel operators and allowing user to review them based Joomla J reviews.</p>
                  </div>
                </li>
               
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Resume Section End -->

    <!-- Contact Section Start -->
    <section id="contact" class="section-padding">      
      <div class="contact-form">
        <div class="container">
          <div class="row contact-form-area wow fadeInUp" data-wow-delay="0.4s">          
            <div class="col-md-6 col-lg-6 col-sm-12" id="dvContactForm">
              <ContactComponent/>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12">
              <div class="footer-right-area wow fadeIn">
                <h2>Contact Address</h2>
                <div class="footer-right-contact">
                  <div class="single-contact">
                    <div class="contact-icon">
                      <i class="fa fa-map-marker"></i>
                    </div>
                    <p>Bengaluru, Karnataka</p>
                  </div>
                  <div class="single-contact">
                    <div class="contact-icon">
                      <i class="fa fa-envelope"></i>
                    </div>
                    <p><a href="mailto:mustafa.ash@pm.me">Personal Mail</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>   
    </section>
    
    <!-- Contact Section End -->
    @code{
      
    }